noscript p{
			position:absolute;
			display: block;
			text-align:center;
			padding:50px;
			background-color:#D8D8D8;
			top:40%;
			left:25%;
			border-radius:10px;
			webkit-box-shadow: 0 8px 6px -6px black; 
			-moz-box-shadow: 0 8px 6px -6px black; 
			box-shadow: 0 8px 6px -6px black; 
}

#target{
	width:60%;
	padding: 20px;
}

form{
	padding:20px;
}

#error{
	color:red;
}