body{
	background:#FFEDED;
}

#target{
	width:48%;
	height:80%;
	float:left;
	padding: 1%;
}

#info{
	padding:1%;
	width:48%;
	float:right;
	font-size: 1em;
}

#info, #target{
	background: #E9ABAB;
}

form{
	padding:2%;
	background: #DF8282;
}

input{
	border:none;
	padding:1px;
	background:#FFFFFF;
	border-radius:5px;
	padding:5px;
}

input[type=submit]{
	background:#8B4F4F;
	color:#FFF;
}

#error{
	color:red;
}
@media screen and (max-width: 500px){
	#info, #target{
		display:block;
		float:none;
		width:97%;
		padding:1%;
	}
}